extends ../core/ui/layout/templates/default.pug

block title
  | Home Page

block workarea

  div(class="page")
    
    div(class="page__header header")

      div(class="header__bar bar")
        a(class="bar__logo logo" href="#")
          | Marketplace
        div(class="bar__search search")
          input(class="search__input input" type="text" placeholder="Search for a product, flower, etc" autocomplete="off")
          svg(class="search__icon" width="24" height="24")
            use(href="./assets/icons/clean/sprite.svg#search")
  
        ul(class="bar__points points")
          li(class="points__item")
            label(class="point")
              input(class="point__input" type="checkbox")
              span(class="point__button")
                svg(class="point__icon" width="24" height="24")
                  use(href="./assets/icons/clean/sprite.svg#flower")
                | Buds
          li(class="points__item")
            label(class="point")
              input(class="point__input" type="checkbox")
              span(class="point__button")
                svg(class="point__icon" width="24" height="24")
                  use(href="./assets/icons/clean/sprite.svg#flower")
                | Edible
          li(class="points__item")
            label(class="point")
              input(class="point__input" type="checkbox")
              span(class="point__button")
                svg(class="point__icon" width="24" height="24")
                  use(href="./assets/icons/clean/sprite.svg#flower")
                | Non Edible
          li(class="points__item")
            label(class="point")
              input(class="point__input" type="checkbox")
              span(class="point__button")
                svg(class="point__icon" width="24" height="24")
                  use(href="./assets/icons/clean/sprite.svg#flower")
                | Concentrate
      
      ul(class="header__ranges ranges")
        li(class="ranges__items range js-range")
          div(class="range__heading")
            | Price Range
          div(class="range__slider js-range__slider")
          div(class="range__box")
            div(class="range__field" data-symbol="$")
              input(class="range__input js-range__input" type="number" min="0" max="500")
            div(class="range__field" data-symbol="$")
              input(class="range__input js-range__input" type="number" min="0" max="500")
        li(class="ranges__items range js-range")
          div(class="range__heading")
            | ТНС, %
          div(class="range__slider js-range__slider")
          div(class="range__box")
            div(class="range__field" data-symbol="%")
              input(class="range__input js-range__input" type="number" min="0" max="100")
        li(class="ranges__items range js-range")
          div(class="range__heading")
            | CBD, %
          div(class="range__slider js-range__slider")
          div(class="range__box")
            div(class="range__field" data-symbol="%")
              input(class="range__input js-range__input" type="number" min="0" max="100")
        li(class="ranges__items range range--width_auto")
          div(class="range__heading")
            | Nose
          div(class="scale")
            div(class="scale__labels")
              input(class="scale__input" type="radio" name="scale" id="scale-10")
              label(class="scale__label" for="scale-10")
              input(class="scale__input" type="radio" name="scale" id="scale-9")
              label(class="scale__label" for="scale-9")
              input(class="scale__input" type="radio" name="scale" id="scale-8")
              label(class="scale__label" for="scale-8")
              input(class="scale__input" type="radio" name="scale" id="scale-7")
              label(class="scale__label" for="scale-7")
              input(class="scale__input" type="radio" name="scale" id="scale-6")
              label(class="scale__label" for="scale-6")
              input(class="scale__input" type="radio" name="scale" id="scale-5")
              label(class="scale__label" for="scale-5")
              input(class="scale__input" type="radio" name="scale" id="scale-4")
              label(class="scale__label" for="scale-4")
              input(class="scale__input" type="radio" name="scale" id="scale-3")
              label(class="scale__label" for="scale-3")
              input(class="scale__input" type="radio" name="scale" id="scale-2")
              label(class="scale__label" for="scale-2")
              input(class="scale__input" type="radio" name="scale" id="scale-1")
              label(class="scale__label" for="scale-1")
            div(class="scale__box")
              span(class="scale__text") min
              span(class="scale__text") max

      div(class="header__badges badges")
        div(class="badges__result")
          | 1034,5 Results
        ul(class="badges__list")
          li(class="badges__item badge")
            span(class="badge__text")
              | 100% Indica
            button(class="badge__button" type="button")
              svg(class="badge__icon" width="18" height="18")
                use(href="./assets/icons/default/sprite.svg#cancel")
          li(class="badges__item badge")
            span(class="badge__text")
              | >50% Indica
            button(class="badge__button" type="button")
              svg(class="badge__icon" width="18" height="18")
                use(href="./assets/icons/default/sprite.svg#cancel")
          li(class="badges__item badge")
            span(class="badge__text")
              | Indoor
            button(class="badge__button" type="button")
              svg(class="badge__icon" width="18" height="18")
                use(href="./assets/icons/default/sprite.svg#cancel")
          li(class="badges__item badge")
            span(class="badge__text")
              | Flower
            button(class="badge__button" type="button")
              svg(class="badge__icon" width="18" height="18")
                use(href="./assets/icons/default/sprite.svg#cancel")
          li(class="badges__item badge")
            span(class="badge__text")
              | Michigan
            button(class="badge__button" type="button")
              svg(class="badge__icon" width="18" height="18")
                use(href="./assets/icons/default/sprite.svg#cancel")
          li(class="badges__item badge")
            span(class="badge__text")
              | SellerSeller
            button(class="badge__button" type="button")
              svg(class="badge__icon" width="18" height="18")
                use(href="./assets/icons/default/sprite.svg#cancel")
          li(class="badges__item badge")
            span(class="badge__text")
              | Distributor
            button(class="badge__button" type="button")
              svg(class="badge__icon" width="18" height="18")
                use(href="./assets/icons/default/sprite.svg#cancel")

    div(class="sidebar")
      div(class="filter js-filter")
        div(class="filter__block js-filter__block")
          div(class="filter__head js-filter__head")
            div(class="filter__heading")
              | Classification
              svg(class="filter__icon" width="12" height="8")
                use(href="./assets/icons/clean/sprite.svg#arrow")
          div(class="filter__body js-filter__body")
            ul(class="filter__list")
              li(class="filter__item")
                label(class="label js-label")
                  input(class="label__input js-label__input" type="checkbox" id="item-00")
                  span(class="label__box")
                    svg(class="label__icon" width="10" height="8")
                      use(href="./assets/icons/default/sprite.svg#check")
                  span(class="label__text")
                    | 100% Indica
              li(class="filter__item")
                label(class="label js-label")
                  input(class="label__input js-label__input" type="checkbox" id="item-01")
                  span(class="label__box")
                    svg(class="label__icon" width="10" height="8")
                      use(href="./assets/icons/default/sprite.svg#check")
                  span(class="label__text")
                    | 100% Sativa
              li(class="filter__item")
                label(class="label js-label")
                  input(class="label__input js-label__input" type="checkbox" id="item-02")
                  span(class="label__box")
                    svg(class="label__icon" width="10" height="8")
                      use(href="./assets/icons/default/sprite.svg#check")
                  span(class="label__text")
                    | >50% Indica
              li(class="filter__item")
                label(class="label js-label")
                  input(class="label__input js-label__input" type="checkbox" id="item-03")
                  span(class="label__box")
                    svg(class="label__icon" width="10" height="8")
                      use(href="./assets/icons/default/sprite.svg#check")
                  span(class="label__text")
                    | >50% Sativa
        div(class="filter__block js-filter__block")
          div(class="filter__head js-filter__head")
            div(class="filter__heading")
              | Production Method
              svg(class="filter__icon" width="12" height="8")
                use(href="./assets/icons/clean/sprite.svg#arrow")
            div(class="filter__icon")
          div(class="filter__body js-filter__body")
            ul(class="filter__list")
              li(class="filter__item")
                label(class="label js-label")
                  input(class="label__input js-label__input" type="checkbox" id="item-04")
                  span(class="label__box")
                    svg(class="label__icon" width="10" height="8")
                      use(href="./assets/icons/default/sprite.svg#check")
                  span(class="label__text")
                    | Indoor
              li(class="filter__item")
                label(class="label js-label")
                  input(class="label__input js-label__input" type="checkbox" id="item-05")
                  span(class="label__box")
                    svg(class="label__icon" width="10" height="8")
                      use(href="./assets/icons/default/sprite.svg#check")
                  span(class="label__text")
                    | Outdoor
              li(class="filter__item")
                label(class="label js-label")
                  input(class="label__input js-label__input" type="checkbox" id="item-06")
                  span(class="label__box")
                    svg(class="label__icon" width="10" height="8")
                      use(href="./assets/icons/default/sprite.svg#check")
                  span(class="label__text")
                    | Greenhouse
              li(class="filter__item")
                label(class="label js-label")
                  input(class="label__input js-label__input" type="checkbox" id="item-07")
                  span(class="label__box")
                    svg(class="label__icon" width="10" height="8")
                      use(href="./assets/icons/default/sprite.svg#check")
                  span(class="label__text")
                    | Light Deprivation
              li(class="filter__item")
                label(class="label js-label")
                  input(class="label__input js-label__input" type="checkbox" id="item-08")
                  span(class="label__box")
                    svg(class="label__icon" width="10" height="8")
                      use(href="./assets/icons/default/sprite.svg#check")
                  span(class="label__text")
                    | Mixed Light
              li(class="filter__item")
                label(class="label js-label")
                  input(class="label__input js-label__input" type="checkbox" id="item-09")
                  span(class="label__box")
                    svg(class="label__icon" width="10" height="8")
                      use(href="./assets/icons/default/sprite.svg#check")
                  span(class="label__text")
                    | Other
        div(class="filter__block js-filter__block")
          div(class="filter__head js-filter__head")
            div(class="filter__heading")
              | Size
              svg(class="filter__icon" width="12" height="8")
                use(href="./assets/icons/clean/sprite.svg#arrow")
            div(class="filter__icon")
          div(class="filter__body js-filter__body")
            ul(class="filter__list")
              li(class="filter__item")
                label(class="label js-label")
                  input(class="label__input js-label__input" type="checkbox" id="item-10")
                  span(class="label__box")
                    svg(class="label__icon" width="10" height="8")
                      use(href="./assets/icons/default/sprite.svg#check")
                  span(class="label__text")
                    | Flower
              li(class="filter__item")
                label(class="label js-label")
                  input(class="label__input js-label__input" type="checkbox" id="item-11")
                  span(class="label__box")
                    svg(class="label__icon" width="10" height="8")
                      use(href="./assets/icons/default/sprite.svg#check")
                  span(class="label__text")
                    | Pre-Roll Flower
              li(class="filter__item")
                label(class="label js-label")
                  input(class="label__input js-label__input" type="checkbox" id="item-12")
                  span(class="label__box")
                    svg(class="label__icon" width="10" height="8")
                      use(href="./assets/icons/default/sprite.svg#check")
                  span(class="label__text")
                    | Pre-Roll Infused
              li(class="filter__item")
                label(class="label js-label")
                  input(class="label__input js-label__input" type="checkbox" id="item-13")
                  span(class="label__box")
                    svg(class="label__icon" width="10" height="8")
                      use(href="./assets/icons/default/sprite.svg#check")
                  span(class="label__text")
                    | Pre-Roll Leaf
              li(class="filter__item")
                label(class="label js-label")
                  input(class="label__input js-label__input" type="checkbox" id="item-14")
                  span(class="label__box")
                    svg(class="label__icon" width="10" height="8")
                      use(href="./assets/icons/default/sprite.svg#check")
                  span(class="label__text")
                    | Shake
              li(class="filter__item")
                label(class="label js-label")
                  input(class="label__input js-label__input" type="checkbox" id="item-15")
                  span(class="label__box")
                    svg(class="label__icon" width="10" height="8")
                      use(href="./assets/icons/default/sprite.svg#check")
                  span(class="label__text")
                    | Other
              li(class="filter__item")
                label(class="label js-label")
                  input(class="label__input js-label__input" type="checkbox" id="item-16")
                  span(class="label__box")
                    svg(class="label__icon" width="10" height="8")
                      use(href="./assets/icons/default/sprite.svg#check")
                  span(class="label__text")
                    | Smalls
              li(class="filter__item")
                label(class="label js-label")
                  input(class="label__input js-label__input" type="checkbox" id="item-17")
                  span(class="label__box")
                    svg(class="label__icon" width="10" height="8")
                      use(href="./assets/icons/default/sprite.svg#check")
                  span(class="label__text")
                    | Trim
              li(class="filter__item")
                label(class="label js-label")
                  input(class="label__input js-label__input" type="checkbox" id="item-18")
                  span(class="label__box")
                    svg(class="label__icon" width="10" height="8")
                      use(href="./assets/icons/default/sprite.svg#check")
                  span(class="label__text")
                    | Shake
              li(class="filter__item")
                label(class="label js-label")
                  input(class="label__input js-label__input" type="checkbox" id="item-19")
                  span(class="label__box")
                    svg(class="label__icon" width="10" height="8")
                      use(href="./assets/icons/default/sprite.svg#check")
                  span(class="label__text")
                    | Keef
              li(class="filter__item")
                label(class="label js-label")
                  input(class="label__input js-label__input" type="checkbox" id="item-20")
                  span(class="label__box")
                    svg(class="label__icon" width="10" height="8")
                      use(href="./assets/icons/default/sprite.svg#check")
                  span(class="label__text")
                    | Fresh Frozen