@forward "./breakpoints";
@forward "./container" as container-*;
@forward "./colors" as colors-*;
@forward "./font" as font-*;

@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    src: url('./../assets/fonts/ProximaNova-Regular.woff2') format('woff2'),
         url('./../assets/fonts/ProximaNova-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    src: url('./../assets/fonts/ProximaNova-Bold.woff2') format('woff2'),
         url('./../assets/fonts/ProximaNova-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    src: url('./../assets/fonts/ProximaNova-ExtraBold.woff2') format('woff2'),
         url('./../assets/fonts/ProximaNova-ExtraBold.woff') format('woff');
}


// Body

body {
    background: #171722;
    font-family: 'Proxima Nova', serif;
}

// Page

.page {
    padding: 22px 20px;
}

// Header

.header {
    padding: 0 15px;

    &__ranges {
        margin-top: 29px
    }

    &__badges {
        margin-top: 15px;
    }
}

// Bar

.bar {
    display: flex;
    align-items: center;
    gap: 16px;

    &__logo,
    &__search,
    &__points {
        flex: 0 0 auto;
    }
}

// Logo

.logo {
    display: block;
    text-decoration: none;
    line-height: 30px;
    letter-spacing: 0.01em;
    font-weight: 700;
    font-size: 30px;
    color: #FFF;
    transition: opacity .2s;

    &:hover {
        opacity: .8;
    }
}

// Search

.search {
    position: relative;

    &__icon {
        position: absolute;
        left: 20px;
        top: 50%;
        display: block;
        width: 24px;
        height: 24px;
        margin-top: -12px;
        fill: #959595;
        transition: fill .2s;

        .search__input:hover ~ &,
        .search__input:focus ~ & {
            fill: #FFF;
        }
    }

    &__input {
        display: block;
        width: 469px;
        height: auto;
        margin: 0;
        padding: 0 20px 0 46px;
        background: #171722;
        border: 1px solid #959595;
        border-radius: 12px;
        line-height: 48px;
        letter-spacing: 0.01em;
        font-weight: 400;
        font-size: 16px;
        color: #FFF;
        outline: none;
        transition: border-color .2s;

        &::placeholder {
            color: #959595;
        }

        &:hover,
        &:focus {
            border-color: #FFF;
        }
    }
}

// Points

.points {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
}

// Point

.point {
    position: relative;
    display: block;
    cursor: pointer;

    &__icon {
        position: relative;
        z-index: 2;
        fill: #959595;
    }

    &__input {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    &__button {
        position: relative;
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 12px 20px;
        border: 1px solid transparent;
        border-radius: 10px;
        background: #353542;
        background-clip: padding-box;
        line-height: 24px;
        font-weight: 700;
        font-size: 18px;
        color: #FFF;
        transition: box-shadow .2s;

        &::before {
            content: ' ';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            display: block;
            margin: -1px;
            border-radius: inherit;
            background: linear-gradient(174.36deg, rgba(132, 213, 44, 0.36) 11.39%, rgba(23, 23, 34, 0) 189.78%);
        }

        .point__input:checked + & {
            box-shadow: 0px 3px 15px 0px #84D52C33;
        }

        &:hover {
            box-shadow: 0px 3px 15px 0px #84D52C33;
        }
    }
}

// Ranges

.ranges {
    display: flex;
    gap: 25px;
    padding: 0;
    list-style: none;
}

// Range

.range {
    width: 100%;
    max-width: 225px;

    &__heading {
        line-height: 20px;
        font-weight: 600;
        font-size: 16px;
        color: #FFF;
    }

    &__slider {
        margin-top: 21px;
    }

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 14px;
    }

    &__field {
        flex: 0 0 auto;
        position: relative;

        &::after {
            content: attr(data-symbol);
            position: absolute;
            right: 5px;
            top: 0;
            line-height: 20px;
            font-weight: 400;
            font-size: 14px;
            color: #959595;
        }
    }

    &__input {
        width: 100%;
        padding: 0 5px;
        border: 1px solid #606060;
        border-radius: 3px;  
        background: #212129;
        line-height: 20px;
        font-weight: 400;
        font-size: 14px;
        color: #959595;
        outline: none;
        transition: border-color .2s;

        &:hover,
        &:focus {
            border-color: #FFF;
        }

        .range__field[data-symbol] & {
            padding-right: 1px;
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        &[type=number] {
            -moz-appearance: textfield;
        }

        &:last-child {
            margin-left: auto;
        }
    }

    &--width_auto {
        width: auto;
    }

    .noUi-target {
        height: 4px;
        border: 0;
        border-radius: 3px;
        box-shadow: 0px 3px 15px 0px #84D52C4F;
        background: #7ACB22;
    }
    
    .noUi-handle {
        width: 16px;
        height: 16px;
        right: -8px;
        border-radius: 50%;
        border: 0;
        background: linear-gradient(193.42deg, #85D62D 23.76%, #6BAB2B 86.01%);
        box-shadow: 3px 5px 12px 0px #FFFFFF33 inset,
        0px 10px 27px 0px #1E1D2E4D;
        
        &::before,
        &::after {
            background: none;
        }
        cursor: pointer;
    }

    .noUi-connect {
        background: #7ACB22;
    }
}

// Badges

.badges {
    display: flex;
    align-items: center;
    gap: 30px;

    &__result {
        line-height: 22px;
        font-weight: 600;
        font-size: 16px;
        color: #FFF;
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__item {
        flex: 0 0 auto;
    }
}

// Badge

.badge {
    display: flex;
    align-items: center;
    background: #297019;
    padding: 0 8px;
    border-radius: 20px;
    line-height: 28px;
    font-weight: 400;
    font-size: 12px;
    color: #FFF;

    &:hover {
        opacity: .9;
    }

    &__button {
        display: block;
        width: 18px;
        height: 18px;
        margin: 0;
        padding: 0;
        border: 0;
        background: none;
        cursor: pointer;
        transition: transform .2s;

        &:hover {
            transform: scale(1.05);
        }
    }
}

// Sidebar

.sidebar {
    width: 243px;
    margin-left: 8px;
    margin-top: 30px;

}

// Filter

.filter {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 15px 22px 30px 17px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-clip: padding-box;
    background: url('./../assets/media/sidebar_background.svg') left center / auto no-repeat #353542;
    gap: 15px;

    &::before {
        content: ' ';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        display: block;
        margin: -1px;
        border-radius: inherit;
        background: linear-gradient(174.36deg, rgba(132, 213, 44, 0.36) 11.39%, rgba(23, 23, 34, 0) 189.78%);
    }

    &__block {
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    &__head {
        cursor: pointer;
    }

    &__body {
        display: none;

        &--active {
            display: block;
        }
    }

    &__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        line-height: 24px;
        font-weight: 600;
        font-size: 18px;
        color: #FFF;
    }

    &__icon {
        transform: rotate(180deg);
        fill: #959595;
        transition: transform .2s, fill .2s;

        .filter__head--active & {
            transform: rotate(0);
        }

        .filter__head:hover & {
            fill: #FFF;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 5px;
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

// Label

.label {
    cursor: pointer;

    &__input {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    &__box {
        position: relative;
        top: 2px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 15px;
        height: 15px;
        border: 1px solid #959595;
        border-radius: 2px;
        margin-right: 5px;
        transition: all .2s;

        .label__input:checked + & {
            border: 0;
            background: linear-gradient(0deg, #84D52C, #84D52C),
            linear-gradient(266.56deg, rgba(107, 171, 43, 0.2) 0%, rgba(132, 213, 44, 0) 94.16%);
        }

        .label:hover & {
            border-color: #FFF;
        }
    }

    &__icon {
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        .label__input:checked + .label__box > & {
            display: block;
        }
    }

    &__text {
        line-height: 24px;
        font-weight: 400;
        font-size: 16px;
        color: #959595;
        transition: color .2s;

        .label__input:checked ~ & {
            font-weight: 600;
            color: #FFF;
        }

        .label:hover & {
            color: #FFF;
        }
    }
}

// Scale

.scale {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__labels {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        gap: 5px;
        margin-top: 8px;
    }

    &__label {
        display: block;
        width: 4px;
        height: 20px;
        background: #297019;
        cursor: pointer;
        transition: opacity .2s;

        &:hover {
            opacity: .8;
        }
    
        .scale__input:checked ~ & {
            background: #58AA46;
        }

        .scale__input:checked + & {
            height: 25px;
        }

        .scale__input:first-child + & {
            height: 25px;
        }
    }

    &__input {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    &__box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &__text {
        line-height: 16px;
        font-weight: 400;
        font-size: 12px;
        color: #959595;
    }
}